@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Inter Variable", system-ui, sans-serif;
  }

  /* Update the TailwindCSS Preflight to use Radix colors. */
  body {
    @apply text-slate-12;
    @apply dark:text-slatedark-12;
  }

  * {
    @apply border-slate-6;
    @apply dark:border-slatedark-6;
  }

  input::placeholder,
  textarea::placeholder {
    @apply text-slate-10;
    @apply dark:text-slatedark-10;
  }
}

@layer utilities {
  .focus-outline {
    @apply outline-blue-6;
    @apply dark:outline-bluedark-6;
    @apply focus:outline;
    @apply focus:outline-[3px];
  }
}
