@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Add Inter as the default font. */
  html {
    font-family: "Inter Variable", system-ui, sans-serif;
  }

  /* Update to override the TailwindCSS Preflight to use the Radix colors instead. If this isn't updated then there will
   * be strange color mismatches for certain borders and placeholder text.
   * 
   * See the configuration file here:  https://unpkg.com/tailwindcss@3.4.9/src/css/preflight.css */
  *,
  ::before,
  ::after {
    @apply border-slate-6;
    @apply dark:border-slatedark-6;
  }
  input::placeholder,
  textarea::placeholder {
    @apply text-slate-10;
    @apply dark:text-slatedark-10;
  }

  /* Set the default text color explicitly in body so that dark-mode is respected implicitly. */
  body {
    @apply text-slate-12;
    @apply dark:text-slatedark-12;
  }
}

@layer utilities {
  .focus-outline {
    @apply outline-blue-6;
    @apply dark:outline-bluedark-6;
    @apply focus:outline;
    @apply focus:outline-[3px];
  }
}
